<ul class="nav nav-list">
    <li class="nav-header">About</li>
    <li {% if page.url == "/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/">Overview</a></li>
    <li class="nav-header">Components</li>
    <li {% if page.url == "/measuremap.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}/measuremap">MeasureMap</a></li>
    <li {% if page.url == "/polaroider.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}/polaroider">Polaroider</a></li>
    <li {% if page.url == "/broadcast.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}/broadcast">Broadcast</a></li>
    <li {% if page.url == "/gaucho.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}/gaucho">Gaucho</a></li>
    <li {% if page.url == "/yaml.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}/yaml">Yaml</a></li>
    <li {% if page.url == "/logsplit.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}/logsplit">LogSplit</a></li>

    <li class="nav-header">Out of focus</li>
    <li {% if page.url == "/scribe.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}/scribe">Scribe</a></li>
    <li {% if page.url == "/rubberstamp.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}/rubberstamp">RubberStamp</a></li>
    

    <!-- <li class="nav-header">How-To</li>
    <li {% if page.url == "/HowTo/ProfileCode.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}/HowTo/ProfileCode">Profile Code</a></li>
    <li {% if page.url == "/HowTo/ProfileEF6.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}/HowTo/ProfileEF6" title="Profile Entity Framework 6">Profile EF6</a></li>
    <li {% if page.url == "/HowTo/ProfileEFCore.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}/HowTo/ProfileEFCore" title="Profile Entity Framework Code">Profile EF Core</a></li>
    <li {% if page.url == "/HowTo/ProfileSql.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}/HowTo/ProfileSql">Profile SQL</a></li>
    <li {% if page.url == "/HowTo/UpgradeFromV3.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}/HowTo/UpgradeFromV3">Upgrade From V3</a></li>
    <li class="nav-header">Shared</li>
    <li {% if page.url == "/NuGet.html" %}class="active"{% endif %}><a href="{{ site.baseurl }}/NuGet">NuGet Packages</a></li> -->
</ul>
