
body {
  /*font-family:Arial;*/
  font-family:sans-serif;
  font-size: 16px;
  font-weight: 700;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}
/*
#layerslider div.large-caption {
  font-size: 34px;
}
#layerslider div.large-caption p {
  display: inline-block;
  margin: 2px 0 0 0;
  line-height: 48px;
  padding: 0 13px 0 13px;
}
*/
/* icons */
/*
.fa{
  color: #222222;
}*/
/*
.fa:hover,
.fa:focus{
  color: #777777;
}*/

h1, h2{
  font-family:Arial Black;
  font-weight: bold;
  text-align: center;
  /*color: #001CBF;*/
  color: #FF0000;
}
h3, h4, h5{
  font-weight: bold;
  color: #3399FF;
  font-family:sans-serif;
  /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
}
/*
h1, h2, h3, h4{
  color: #3399FF;
}*/

h1 {
  font-size: 60px;
  text-transform: lowercase;
}

h2{
  font-size: 50px;
  padding: 0px 0 20px 0;
  text-transform: lowercase;
}

h2 span{
  /*font-family:Arial Black;
  font-weight: bold;*/
  /*color: #001CBF;*/
  color: #000;
  text-align: top;
  font:1.3em 'Arial Black',monospace;
}

h3 {
  font-family:Arial Black;
  font-size: 30px;
  padding: 40px 0 20px 0;
}

h3.header-content {
  padding: 0 0 10px 0;
  margin: 0 0 0 0;
}

h3 span{
  /*font-family:Arial Black;
  font-weight: bold;*/
  /*color: #001CBF;*/
  color: #000;
  text-align: top;
  font:1.3em 'Arial Black',monospace;
}

h4{
  padding: 40px 0 0 0;
}

h4.header-content {
  padding: 0 0 10px 0;
  margin: 0 0 0 0;
}

h5 {
  font-size: 16px;
}



/* Prefer horizontal scroll to wrapping code */
pre {
  text-align: left;
  white-space:pre;
  word-wrap:normal;
  word-break:normal;
  overflow-x:auto;
  font-size: 14px;
  font-weight: 700;
  font-family: Consolas;
}
 
 pre b {
   font-weight: extrabold;
   /*font-family: Arial Black;*/
   color: #00ccff
 }
a {
  font-weight: bold;
  color: #3399FF;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #3399FF;
}

.margin-top{
  margin-top: 20px;
}

.margin-bottom{
  margin-bottom: 20px;
}

.margin-bottom-s{
  margin-bottom: 7px;
}

.header-container{
  height: 400px;
  background: url(../../images/header-400.png) no-repeat bottom center scroll;
  background-color: #222222;
}

/*@media all and (min-width: 768px)  {
    .header-container {
		background-image:url('../../images/header-400.png');
	}
}*/
@media all and (max-width: 767px) {
    .header-container {
		background-image: url('../../images/flame-400.png');
	}
}

.btn-image {
  padding: 0;
  
}

.panel-img{
  text-align: left;
}

.center{
  text-align: center;
}

.middle {
    display: table-cell;
    vertical-align: middle;
	 
}

.right{
  text-align: right;
}

.fa-angle-double-down{
  color: #fff;
}

.section-header {
  padding: 0 0 50px 0;
}

.subsection-header{
  padding: 0 0 15px 0;
}

.subsection-header h3 {
  padding: 0;
  margin: 0;
  color: #FF0000;
}

.section-footer {
  padding: 40px 0 0 0;
}

.priciples-section {
    /*background:  #F1F1F2;*/
    /*background: #999999;*/
    width: 100%;
    padding: 50px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.frameworks-section {
    background: #F1F1F1;
    border-top:#e7e7e7 solid 1px;
    /*border-bottom:#e7e7e7 solid 1px;*/
    width: 100%;
    padding: 50px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.frameworks-header {
  /*height: 400px;*/
  display: table-cell;
}

.persistance-section {
    background: #DDDDDD;
    border-top:#CCCCCC solid 1px;
    border-bottom:#CCCCCC solid 1px;
    width: 100%;
    padding: 50px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.injection-section {
    background: #EEEEEE;
    width: 100%;
    padding: 50px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.scribe-section {
    background: #CCCCCC;
    border-top:#BBBBBB solid 1px;
    /*border-bottom:#CCCCCC solid 1px;*/
    width: 100%;
    padding: 50px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.broadcast-section {
    background: #bbb;/*#FFFFFF;*/
    border-top:#AAAAAA solid 1px;
    border-bottom:#AAAAAA solid 1px;
    width: 100%;
    padding: 50px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.footer-section {
    background: #222222;
    width: 100%;
    padding: 50px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

code {
  margin: 0 0 10px 0;
}

.nuget-badge code {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  background-color:#202020;
  /*border:4px solid silver;*/
  border-radius:5px;
  /*box-shadow:2px 2px 3px #6e6e6e;*/
  color:#e2e2e2;
  display:block;
  font:1.2em 'andale mono','lucida console',monospace;
  line-height:1.5em;
  overflow:auto;
  padding:10px 50px
}

 .principle-icon {
   display: table-cell;
   vertical-align: middle;
 }
 
 @media all and (max-width: 767px) {
  .frameworks-section {
		text-align: center;
	}
  
  .priciples-section {
    text-align: center;
  }
  
  .principle-icon {
    display: inline;
  }
  
  .frameworks-header {
    /*height: 400px;*/
    display: inline;
  }
}